ebx-parent/onebx-mdm/src/main/webapp/WEB-INF/ebx/schemas/common/CommonReferenceDataModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--XML schema generated from EBX5 DMA instance [reference=CommonReferenceDataModel] on Wed Mar 21 14:47:40 EDT 2018 by user [admin].-->
<xs:schema xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebxs="urn:ebx-schemas:session_1.0">
    <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://schema.orchestranetworks.com/common_1.0.xsd"/>
    <xs:import namespace="urn:ebx-schemas:session_1.0" schemaLocation="http://schema.orchestranetworks.com/session_1.0.xsd"/>
    <xs:include schemaLocation="./BasicTypesDataModel.xsd"/>
    <xs:annotation>
        <xs:appinfo>
          
            <osd:inheritance>
                <dataSetInheritance>none</dataSetInheritance>
            </osd:inheritance>
            <ebxbnd:binding targetDirectory="../onebx-mdm/src">
                <javaPathConstants typeName="com.onebx.mdm.common.path.CommonReferencePaths">
                    <nodes root="/" prefix="" relativeToRoot="false"/>
                </javaPathConstants>
            </ebxbnd:binding>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="root" osd:access="--">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Country" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Country</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/countryBaseString </primaryKeys>
                                <defaultLabel>${./countryEnglishShortName}</defaultLabel>
                                <defaultLabel xml:lang="en-US">${./countryEnglishShortName}</defaultLabel>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="countryBaseString" type="BaseString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>EBX Local ID</osd:label>
                                        <osd:description>EBX generated ID for each record.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countryEnglishShortName" type="BaseLongString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>English Short Name</osd:label>
                                        <osd:description>Official short form of the country name in English.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countryEnglishFullName" type="BaseString" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>English Full Name</osd:label>
                                        <osd:description>Official long form of the country name in English.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countryAlpha2Code" type="BaseString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Alpha 2 Code</osd:label>
                                        <osd:description>Two-letter (alpha-2) code element of the country name.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countryAlpha3Code" type="BaseString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Alpha 3 Code</osd:label>
                                        <osd:description>Three-letter (alpha-3) code element of the country name.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countryIdentifier" type="BaseString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Identifier</osd:label>
                                        <osd:description>Three-digit numeric (numeric-3) code element of the country name.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countryStatusName" type="BaseString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Status</osd:label>
                                        <osd:description>ISO listing status: Officially-assigned, formerly used, transitionally-reserved</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countryActiveBoolean" type="YesNo" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Active</osd:label>
                                        <osd:description>Yes: The country is included in the latest ISO publication&#13;
No: The country is not included in the latest ISO publication</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countryComment" type="BaseText" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Comment</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countryCurrencyIdentifier" type="BaseString" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Currency</osd:label>
                                        <osd:description>The currency(ies) identified as their official or administrative currency. </osd:description>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/Currency</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countrySubdivisionLevel1Association" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Level 1 Subdivisions</osd:label>
                                        <osd:description>The first level of geographic division within a country's borders. </osd:description>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <tableRefInverse>
                                                <fieldToSource>/root/CountrySubdivisionLevel1/countrySubdivisionLevel1CountryIdentifier</fieldToSource>
                                            </tableRefInverse>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CountrySubdivisionLevel1" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Country Subdivision Level 1</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/countrySubdivisionLevel1BaseString </primaryKeys>
                                <defaultLabel>${./countrySubdivisionLevel1EnglishName}</defaultLabel>
                                <defaultLabel xml:lang="en-US">${./countrySubdivisionLevel1EnglishName}</defaultLabel>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="countrySubdivisionLevel1BaseString" type="BaseString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>EBX Local ID</osd:label>
                                        <osd:description>EBX generated ID for each record.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countrySubdivisionLevel1EnglishName" type="BaseLongString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>English Subdivision Name</osd:label>
                                        <osd:description>English name if available. If not, name is in country's administrative language.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countrySubdivisionLevel1Code" type="BaseString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Subdivision Code</osd:label>
                                        <osd:description>Combination of Alpha 2 Code and unique 2 or 3 digit subdivision Alpha code.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countrySubdivisionLevel1TypeName" type="BaseString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Subdivision Type</osd:label>
                                        <osd:description>Generic name of the subdivision category (e.g. "province") which is always given in English.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countrySubdivisionLevel1ActiveBoolean" type="YesNo" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Active</osd:label>
                                        <osd:description>Yes: The subdivision is included in the latest ISO publication&#13;
No: The subdivision is not included in the latest ISO publication</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countrySubdivisionLevel1CountryIdentifier" type="BaseLongString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Country</osd:label>
                                        <osd:description>The country in which this subdivision is located.</osd:description>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/Country</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countryAlpha3Code" type="BaseString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Alpha 3 Code</osd:label>
                                        <osd:description>Three-letter (alpha-3) code element of the country name.</osd:description>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:inheritance>
                                            <sourceRecord>/root/CountrySubdivisionLevel1/countrySubdivisionLevel1CountryIdentifier</sourceRecord>
                                            <sourceNode>./countryAlpha3Code</sourceNode>
                                        </osd:inheritance>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countrySubdivisionLevel1Comment" type="BaseText" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Comment</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="countrySubdivisionLevel1TwoDigitCode" type="BaseString" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Local Code (only unique within the country)</osd:label>
                                        <osd:description>Portion of the Subdivision Code to the right of the hyphen.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Currency" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Currency</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/currencyBaseString </primaryKeys>
                                <defaultLabel>${./currencyEnglishName}</defaultLabel>
                                <defaultLabel xml:lang="en-US">${./currencyEnglishName}</defaultLabel>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="currencyBaseString" type="BaseString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>EBX Local ID</osd:label>
                                        <osd:description>EBX generated ID for each record.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="currencyEnglishName" type="BaseLongString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>English Name</osd:label>
                                        <osd:description>Official name of the currency in English.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="currencyAlpha3Code" type="BaseString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Alpha 3 Code</osd:label>
                                        <osd:description>Three-letter (alpha-3) code element of the currency name.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="currencyIdentifier" type="BaseString" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Identifier</osd:label>
                                        <osd:description>Three-digit numeric (numeric-3) code element of the currency name.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="currencyMinorUnitCode" type="BaseString" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Minor Unit Code</osd:label>
                                        <osd:description>Unit of recorded value (i.e. as recorded by banks) which is a division of the respective unit of currency or fund.&#13;
EXAMPLE: The US cent is a one hundredth part of the US dollar; the GB penny is a one hundredth part of the pound sterling.&#13;
Note 1 to entry: Some currencies have minor units that are used in low-value coinage within a country or locality, but which are not used by the national or international banking system in making formal records of value.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="currencyFundBoolean" type="YesNo" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Fund</osd:label>
                                        <osd:description>Artificial currency used as calculation basis for another currency (or currencies) and/or for accounting purposes.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="currencyActiveBoolean" type="YesNo" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Active</osd:label>
                                        <osd:description>Yes: The currency is included in the latest ISO publication&#13;
No: The currency is not included in the latest ISO publication</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="currencyComment" type="BaseText" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Comment</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="currencyCountryIdentifier" type="BaseString" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Country</osd:label>
                                        <osd:description>The country(ies) identified as using this currency as their official or administrative currency. </osd:description>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/Country</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
