ebx-parent/onebx-mdm/src/main/webapp/WEB-INF/ebx/schemas/customer/Companies.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--XML schema generated from EBX(R) DMA instance [reference=Companies] on Wed Apr 01 14:39:51 CEST 2026 by user [admin].-->
<xs:schema xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebxs="urn:ebx-schemas:session_1.0">
    <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://schema.orchestranetworks.com/common_1.0.xsd"/>
    <xs:import namespace="urn:ebx-schemas:session_1.0" schemaLocation="http://schema.orchestranetworks.com/session_1.0.xsd"/>
    <xs:include schemaLocation="urn:ebx:module:ebx-addon-dama:/WEB-INF/ebx/schema/media-type.xsd"/>
    <xs:annotation>
        <xs:appinfo>
            <osd:addon>ebx-addon-mame</osd:addon>
            <osd:validation>
                <validationMessageThreshold>1000</validationMessageThreshold>
            </osd:validation>
            <osd:inheritance>
                <dataSetInheritance>none</dataSetInheritance>
            </osd:inheritance>
            <ebxbnd:binding targetDirectory="../onebx-mdm/src/main/java">
                <javaPathConstants typeName="com.onebx.mdm.companies.path.CompaniesPaths">
                    <nodes root="/root" prefix="" relativeToRoot="false"/>
                </javaPathConstants>
            </ebxbnd:binding>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="root" osd:access="--">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Companies" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Companies</osd:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="fr-FR">
                            <osd:label>Sociétés</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/Identification/Id </primaryKeys>
                                <historyProfile>ebx-allBranches</historyProfile>
                                <defaultLabel>${./Identification/Id} ${./Identification/Name}</defaultLabel>
                                <defaultView>
                                    <toolbars>
                                        <tabularViewTop>Companies</tabularViewTop>
                                        <tabularViewRow>Record row</tabularViewRow>
                                        <recordTop>CompanyRecordToolbar</recordTop>
                                    </toolbars>
                                    <defaultViewForGroups>expanded</defaultViewForGroups>
                                </defaultView>
                            </osd:table>
                           
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Logo" type="mediaType" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Logo</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Logo</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:defaultView>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Identification" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Identification</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Identification</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:defaultView>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Id" type="xs:int" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>MDM Id</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Id MDM</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:autoIncrement/>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Name" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Name</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Nom</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="chineseName" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Name (Chinese)</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Nom (Chinois)</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="description" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Description</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="osd:text">
                                                    <xs:maxLength value="200"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="descriptionCN" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Description (Chinese)</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Description (Chinois)</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="osd:text">
                                                    <xs:maxLength value="200"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="LegalEntityIdentifier" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Legal Entity Identifier</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Identifiant de l'entité légale (LEI)</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="TaxID" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Tax ID</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Identifiant Fiscal</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="25"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="RegistrationID" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Registration ID</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="25"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="type" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Type Of Counterpart</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                    <xs:enumeration value="Commercial"/>
                                                    <xs:enumeration osd:label="Non Commercial" value="NonCommercial"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="customerTier" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Customer Tier</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="50"/>
                                                    <xs:enumeration osd:label="Tier 1" value="Tier1"/>
                                                    <xs:enumeration osd:label="Tier 2" value="Tier2"/>
                                                    <xs:enumeration osd:label="Tier 3" value="Tier3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="AdditionalInformation" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Additional information</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Informations additionelles</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:defaultView>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ActivitySector" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Main activity sector</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Secteur d'activité principal</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <tablePath>/root/ReferenceData/ActivitySector</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Parent" type="xs:string" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Parent</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Parent</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <tablePath>/root/Companies</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="blackListed" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Blacklisted?</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Blacklisté?</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="isConsolidated" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>In Multiple Systems?</osd:label>
                                                    <osd:description>Does this record exist in multiple source systems?</osd:description>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Dans plusieurs sources?</osd:label>
                                                    <osd:description>Est-ce que cette donnée est présente dans plusieurs applications?</osd:description>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:function class="com.tibco.ebx.ps.fasttrack.companies.function.HasXREFValueFunction"/>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="endOfValidity" type="xs:date" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>End Of Validity</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="active" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Active?</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:function scripted="true"/>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Address" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Address</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Adresse</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:defaultView>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Number" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Number</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Numéro</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Street" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Street</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Rue</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="City" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>City</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Ville</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Zipcode" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>ZIP code</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Code postal</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Country" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Country</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Pays</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <container>Geographies</container>
                                                            <branch>Geographies</branch>
                                                            <tablePath>/root/Country</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="latitude" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Latitude</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Latitude</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="longitude" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Longitude</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Longitude</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BillingInformation" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Billing Information</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Domiciliation Bancaire</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:defaultView>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="BankAccountHolder" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Bank Account Holder</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Nom du bénéficiaire</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="bankName" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Bank Name</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Nom de la Banque</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="IBAN" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:constraint class="com.orchestranetworks.dsl.script.constraint.node.ScriptBuiltinConstraintOnNode">
                                                            <name>IBANValidation</name>
                                                            <type>ConstraintOnNode</type>
                                                        </osd:constraint>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="34"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="BIC" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>BIC</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="11"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Roles" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Roles</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Rôles</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <tableRefInverse>
                                                <fieldToSource>/root/Role/Company</fieldToSource>
                                            </tableRefInverse>
                                        </osd:association>
                                        <osd:defaultView>
                                            <displayMode>tab</displayMode>
                                            <tabularView>
                                                <column>/Sites</column>
                                                <column>/TypeDCL</column>
                                                <initialQueryEnabled>true</initialQueryEnabled>
                                                <sort>
                                                    <nodePath>/Company</nodePath>
                                                    <isAscending>true</isAscending>
                                                </sort>
                                                <sort>
                                                    <nodePath>/BrokerCode</nodePath>
                                                    <isAscending>true</isAscending>
                                                </sort>
                                                <sort>
                                                    <nodePath>/TypeDCL</nodePath>
                                                    <isAscending>true</isAscending>
                                                </sort>
                                            </tabularView>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="crossRef" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Cross references</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Références croisées</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <tableRefInverse>
                                                <fieldToSource>/root/TechnicalData/CrossRefCompanies/company</fieldToSource>
                                            </tableRefInverse>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                            <tabularView>
                                                <column>/source</column>
                                                <column>/pkRecordSource</column>
                                                <column>/recordSource</column>
                                                <initialQueryEnabled>true</initialQueryEnabled>
                                                <sort>
                                                    <nodePath>/source</nodePath>
                                                    <isAscending>true</isAscending>
                                                </sort>
                                                <sort>
                                                    <nodePath>/recordSource</nodePath>
                                                    <isAscending>true</isAscending>
                                                </sort>
                                            </tabularView>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Role" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Roles</osd:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="fr-FR">
                            <osd:label>Rôles</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/Company /BrokerCode /TypeDCL </primaryKeys>
                                <defaultLabel>${./TypeDCL} in ${./Sites}</defaultLabel>
                                <defaultView>
                                    <defaultViewForGroups>expanded</defaultViewForGroups>
                                </defaultView>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Company" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Company</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Société</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/Companies</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Sites" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Site</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Site</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/ReferenceData/Site</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="BrokerCode" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Broker Code</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Code DCL</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TypeDCL" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Role Type</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Type de Rôle</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                        <xs:enumeration value="C">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">Customer</xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">Client</xs:documentation>
                                                <xs:documentation xml:lang="it-IT">Customer</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="I">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">Investor</xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">Investisseur</xs:documentation>
                                                <xs:documentation xml:lang="it-IT">Investor</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="crossReferences" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Cross references</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Références croisées</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <tableRefInverse>
                                                <fieldToSource>/root/TechnicalData/CrossRefRoles/role</fieldToSource>
                                            </tableRefInverse>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                            <tabularView>
                                                <column>/source</column>
                                                <column>/pkRecordSource</column>
                                                <column>/recordSource</column>
                                                <initialQueryEnabled>true</initialQueryEnabled>
                                                <sort>
                                                    <nodePath>/source</nodePath>
                                                    <isAscending>true</isAscending>
                                                </sort>
                                                <sort>
                                                    <nodePath>/pkRecordSource</nodePath>
                                                    <isAscending>true</isAscending>
                                                </sort>
                                            </tabularView>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ReferenceData" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Reference data</osd:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="fr-FR">
                            <osd:label>Données de référence</osd:label>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Site" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Sites</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Sites</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:table>
                                            <primaryKeys>/Code </primaryKeys>
                                            <historyProfile>ebx-allBranches</historyProfile>
                                            <defaultLabel>${./Label}</defaultLabel>
                                        </osd:table>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Code" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Code</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Code</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Label" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Label</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Libellé</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ActivitySector" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Activity sectors</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Secteurs d'activités</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:table>
                                            <primaryKeys>/Code </primaryKeys>
                                            <historyProfile>ebx-allBranches</historyProfile>
                                            <defaultLabel>${./Label} (${./Code})</defaultLabel>
                                            <defaultLabel xml:lang="fr-FR">${./libelleFR} (${./Code})</defaultLabel>
                                        </osd:table>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Code" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Code</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Code</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Label" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Label (EN/US)</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Libellé anglais</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="libelleFR" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Label (French)</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Libellé Français</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="TechnicalData" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Technical data</osd:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="fr-FR">
                            <osd:label>Données techniques</osd:label>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CrossRefCompanies" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Cross references on companies</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Références croisées des sociétés</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:table>
                                            <primaryKeys>/id </primaryKeys>
                                        </osd:table>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="id" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="company" type="xs:string" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Company</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Société</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <tablePath>/root/Companies</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="source" type="xs:string" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Source</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Source</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <container>consolidation</container>
                                                            <branch>consolidation</branch>
                                                            <tablePath>/root/Source</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                    <osd:defaultView/>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dataspaceNameTempSource" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="dataspaceNameSource" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="datasetNameSource" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="tablePath" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="pkRecordSource" type="xs:string" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Source id</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Id source</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="recordSource" type="xs:string" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Source record</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Enregistrement source</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:defaultView>
                                                        <widget osd:class="com.tibco.ebx.cs.conso.ui.widget.ButtonLinkToRecordWidgetFactory">
                                                            <dataSetField>./datasetNameSource</dataSetField>
                                                            <dataSpaceField>./dataspaceNameSource</dataSpaceField>
                                                            <dataSpaceTemporaryField>./tablePath</dataSpaceTemporaryField>
                                                            <pkRecordField>./pkRecordSource</pkRecordField>
                                                            <tableField>./tablePath</tableField>
                                                        </widget>
                                                    </osd:defaultView>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="CrossRefRoles" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Cross references on roles</osd:label>
                                    </xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">
                                        <osd:label>Références croisées des rôles</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:table>
                                            <primaryKeys>/id </primaryKeys>
                                        </osd:table>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="id" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="role" type="xs:string" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Role</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Rôle</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <tablePath>/root/Role</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="source" type="xs:string" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Source</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Source</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <container>consolidation</container>
                                                            <branch>consolidation</branch>
                                                            <tablePath>/root/Source</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dataspaceNameTempSource" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="dataspaceNameSource" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="datasetNameSource" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="tablePath" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="pkRecordSource" type="xs:string" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Source id</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Id source</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="recordSource" type="xs:string" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Source record</osd:label>
                                                </xs:documentation>
                                                <xs:documentation xml:lang="fr-FR">
                                                    <osd:label>Enregistrement source</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:defaultView>
                                                        <widget osd:class="com.tibco.ebx.cs.conso.ui.widget.ButtonLinkToRecordWidgetFactory">
                                                            <dataSetField>./datasetNameSource</dataSetField>
                                                            <dataSpaceField>./dataspaceNameSource</dataSpaceField>
                                                            <dataSpaceTemporaryField>./dataspaceNameTempSource</dataSpaceTemporaryField>
                                                            <pkRecordField>./pkRecordSource</pkRecordField>
                                                            <tableField>./tablePath</tableField>
                                                        </widget>
                                                    </osd:defaultView>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="id">
        <xs:annotation>
            <xs:appinfo>
                <osd:autoIncrement/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:int"/>
    </xs:simpleType>
</xs:schema>